@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

body {

  font-family: "Rajdhani";
  font-weight: 700;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* 

body > div.MuiBox-root.css-14iyvbi > div:nth-child(2) > div.MuiBox-root.css-16tjn7d .slick-slide > div {

  margin: 0 10px;
}

body > div.MuiBox-root.css-14iyvbi > div:nth-child(2) > div.MuiBox-root.css-yzjzjh .slick-slide > div {

  margin: 0 10px;
} */

/* Homepage Main News Margin Adjustment */
body > div.MuiBox-root.css-14iyvbi > div:nth-child(2) > div.MuiBox-root.css-17g2bcv .slick-slide > div,
body > div.MuiBox-root.css-14iyvbi > div:nth-child(2) > div.MuiBox-root.css-16tjn7d .slick-slide > div,
body > div.MuiBox-root.css-14iyvbi > div:nth-child(2) > div.MuiBox-root.css-yzjzjh .slick-slide > div {
  margin: 0 10px;
}

/* Gallery React Slick Margin Adustment */
body > div.MuiBox-root.css-wgmqix > div:nth-child(4) > div.MuiStack-root.css-nen11g-MuiStack-root > div .slick-slide > div {

  margin: 0 5px;
}






